/*GENERAL*/
@font-face {
  src: url("../fonts/Merriweather-Regular.ttf");
  font-family: Merriweater;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Merriweater;
  /*--main-text-color: #f7f7f7;
  --secondary-text-color: #a4a4a4;*/
  --main-text-color: #eceff1;
  --secondary-text-color: #607d8b;

  --header-table-color: #b0bec5;
  --row-color: #b0bec5;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

/*MENÚ NAVEGACIÓN*/
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--main-text-color);
  z-index: 1;
}

.navbar > .navbar__list {
  float: right;
  list-style-type: none;
  margin: 0;
  font-size: 0;
}

.navbar > .navbar__list > .navbar__item {
  display: inline-block;
  font-size: 1rem;
}

.navbar > .navbar__list > .navbar__item a {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: rgba(0, 0, 0, 0.9);
}

.navbar > .navbar__list > .navbar__item--active a {
  color: var(--main-text-color);
  background-color: var(--secondary-text-color);
}

.navbar > .navbar__list > .navbar__item a:hover {
  color: var(--main-text-color);
  background-color: var(--secondary-text-color);
}

/*CABECERA PÁGINA*/
.header > .header__title {
  position: absolute;
  left: 0;
  top: 66%;
  width: 100%;
  color: white;
  text-align: center;
  font-size: 4rem;
  opacity: 0;
  animation: titleAnimation 2s forwards;
  animation-delay: 2s;
}

.header > .header__cite {
  position: absolute;
  top: 62%;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  opacity: 0;
  animation: titleAnimation 3s forwards;
  animation-delay: 1s;
}

.header > .header__image {
  background-image: url(../images/segovia.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-color: black;
  animation: imageAnimation 1s ease-out;
}

/*SECCIONES*/
.section-container {
  /*padding: 30px 0;*/
  background-color: var(--main-text-color);
}

/*CABECERA SECCIONES*/
.section__header {
  background-color: var(--secondary-text-color);
  padding: 0.1rem;
  text-align: center;
}

/*SECCIÓN QUIEN SOY*/
.who-i-am {
  /*background-color: brown;*/
}

.who-i-am > .who-i-am__image {
  float: left;
  max-width: 50%;
  width: 100%;
  /*background-image: url(../images/oscar.jpg);*/
  /*margin: 1rem auto;*/
  padding: 1rem 0rem;
  /*background-color: blue;*/
}

.who-i-am > .who-i-am__image img {
  /*background-image: url(../images/oscar.jpg);*/
  /*background-color: red;
  background-position: center center;*/
  /*width: 50%;*/
  width: 100%;
  /*max-width: 100%;*/
  border-radius: 5%;
}

.who-i-am > .who-i-am__info {
  float: right;
  max-width: 50%;
  padding: 1rem;
  text-align: justify;
  /*background-color: purple;*/
}
.who-i-am > .who-i-am__info > .who-i-am__description {
  /*font-size: 1.5rem;*/
  /*padding-top: 1rem;*/
}

.who-i-am > .who-i-am__info .who-i-am__name {
  /*font-size: 1.5rem;*/
  /*padding-top: 1rem;*/
  font-weight: bold;
}

/*SECCIÓN ESTUDIOS*/
.education-member {
  padding-left: 1rem;
  /*background-color: blue;*/
}

.container__education,
.container__expericence {
  /*background-color: blue;*/
  padding: 0.5rem;
}

.row-align-left {
  text-align: left;
}

.row-align-justify {
  text-align: justify;
}

/*.row-align-top {
  vertical-align: top;
}*/

table {
  width: 100%;
  /*border-collapse: collapse;*/
}

tbody {
  /*background-color: #ffffff;*/
  color: black;
}

thead > tr {
  background-color: var(--header-table-color);
  color: black;
}

thead > tr th {
  padding-left: 0.5rem;
}

th,
td {
  height: 3rem;
  text-align: justify;
}

.row-empty {
  height: 1rem;
}

th:nth-child(1),
td:nth-child(1) {
  padding-left: 0.5rem;
}

th:nth-child(2),
td:nth-child(2) {
  text-align: center;
}

.container__education-cite {
  /*background-color: green;
  color: white;*/
  font-size: 0.8rem;
}

/*SECCIÓN EXPERIENCIA*/
.about-me {
  /*background-color: brown;*/
}

td:nth-child(1),
td:nth-child(2) {
  vertical-align: top;
}

/*SECCIÓN SOBRE MI*/
.about-me > .about-me__video {
  float: left;
  max-width: 50%;
  width: 100%;
  /*background-color: blue;*/
}

.about-me > .about-me__video video {
  margin-left: 1rem;
}

.about-me > .about-me__info {
  float: right;
  max-width: 50%;
  padding: 1rem;
  text-align: justify;
  /*background-color: purple;*/
}

/*CONTACTO*/
.form {
  padding: 0 1.2rem;
}

.form .form-row {
  padding: 0.8rem;
}

input {
  padding: 0.5rem;
  border: 0.1rem solid #ccc;
}

#telefono {
}

button[type="submit"] {
  background-color: #4caf50;
  padding: 1rem 4rem;
  border: none;
  color: white;
  border-radius: 0;
  cursor: pointer;
}

textarea {
  width: 100%;
  height: 20rem;
}

/*PIE*/
.footer {
  background-color: rgba(0, 0, 0, 0.92);
  color: var(--main-text-color);
  height: 50px;
  align-items: center;
  justify-content: center;
}

/*ANIMACIONES*/
@keyframes imageAnimation {
  0% {
    background-size: 2%;
  }
  15% {
    background-size: 15%;
  }
  30% {
    background-size: 30%;
  }
  45% {
    background-size: 45%;
  }
  60% {
    background-size: 60%;
  }
  75% {
    background-size: 75%;
  }
  90% {
    background-size: 90%;
  }
  100% {
    background-size: cover;
    height: 100vh;
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
